#outer{
    height: 500px;
    width: 400px;
    margin: 50px auto;
    background-color: gray;
   border :1px solid gray 
}
#box{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    border: 1px solid black;
    margin: 50px auto;
    background-image: url('../images/indian-singer-arijit-singh.jpg');
    background-position: center;
    background-size: cover;
}
#btn{
    height: 50px;
    width:300px ;
    margin: 0px auto;
    justify-content: space-evenly;
    align-items: center;
    display: flex;

}
#btn .fa-pause{
    display: none;
}
#btn i:hover {
      transform: scale(1.2);
      box-shadow: 0 0 10px #fff;
    }
#controls {
    display: flex;
    align-items: center;
    gap: 10px;
}

#progress {
    flex: 1;
}
